@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');

:root {
    --font-title: 'Playfair Display', serif;
    --font-text: 'Inter', sans-serif;
}

* {
    margin: 0;  
    font-family: var(--font-text);
}